﻿@model IEnumerable<Veterinaria.Models.Tienda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Nueva", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IdTienda }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.IdTienda }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.IdTienda })
        </td>
    </tr>
}

</table>
