﻿@model Veterinaria.Models.Mascota

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo.NombreSexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo.NombreSexo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Crear", new { id = Model.IdMascota }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
