﻿@model IEnumerable<Veterinaria.Models.Mascota>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Nueva", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo.NombreSexo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo.NombreSexo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Crear", new { id=item.IdMascota }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.IdMascota }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.IdMascota })
        </td>
    </tr>
}

</table>
