﻿@model   Veterinaria.Models.Usuario
@{
	ViewBag.Title = "Inicio Sesión";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Veterinaria</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="container body-content">
		<h2>@ViewBag.Title.</h2>
		<div class="row">
			<div class="col-md-8">
				<section id="loginForm">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()

						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.Label("Cédula", new { @class = "col-md-2 control-label" })
							<div class="col-md-10">
								@Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.NombreUsuario, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.Clave, new { @class = "col-md-2 control-label" })
							<div class="col-md-10">
								@Html.PasswordFor(m => m.Clave, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Clave, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<input type="submit" value="Iniciar sesión" class="btn btn-default" />
							</div>
						</div>
						<p>
							@Html.ActionLink("Registrar como nuevo usuario", "Registrar")
						</p>

					}
				</section>
			</div>
			<div class="col-md-4">
				<section id="socialLoginForm">
					<img src="~/Content/imagenes/lady.jpg" alt="I love Pets" width="153" height="222">
				</section>
			</div>
		</div>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	
</body>
</html>