﻿@model Veterinaria.Models.Usuario
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Usuario</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })


		<div class="form-group">
			@Html.Label("Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.PasswordFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Registrar" class="btn btn-default" />
			</div>
		</div>
	</div>
}