﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@*@Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					
					@if (HttpContext.Current.Session["CodigoPerfil"] != null && HttpContext.Current.Session["CodigoPerfil"].ToString() == "Cliente")
					{
						<li>@Html.ActionLink("Inicio", "Index", "Cliente")</li>
						<li>@Html.ActionLink("Perfil", "Crear", "Cliente")</li>
						<li>@Html.ActionLink("Gestionar Tareas", "Index", "RegistraTarea")</li>
					}
					@if (HttpContext.Current.Session["CodigoPerfil"] != null &&  HttpContext.Current.Session["CodigoPerfil"].ToString() == "Admon")
					{
						<li>@Html.ActionLink("Listado Tareas", "InfoTienda", "Tienda")</li>
						<li>@Html.ActionLink("Tiendas", "Index", "Tienda")</li>
						<li>@Html.ActionLink("Clientes", "ListarClientes", "Cliente")</li>
					}
					<li>@Html.ActionLink("Mascota", "Index", "Mascota")</li>

				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Veterinaria</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
