﻿@model Veterinaria.Models.Cliente

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm("Crear", "Cliente", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Cliente</h4>
		<hr />
		@Html.HiddenFor(model => model.IdCliente)
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Fecha Nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control date-picker" } })
				@Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Sexo", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("IdSexo", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.IdSexo, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("IdCiudad", null, htmlAttributes: new { @class = "form-control" })
			</div>
		</div>


		<div class="form-group">
			@Html.Label("Tienda", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("IdTienda", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.IdTienda, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">

			@Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Foto, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Guardar" class="btn btn-default" />
			</div>
		</div>
	</div>

	<div>
		@Html.ActionLink("Regresar a la lista", "ListarClientes")
	</div>
}


<script type="text/javascript">
    $('#IdCiudad').change(function ()
    {
        $("#IdTienda").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStoreByCity")', // we are calling json method
            dataType: 'json',
            data: { id: $("#IdCiudad").val() },
            success: function (states) {

                $.each(states, function (i, state) {
                    debugger;
                    $("#IdTienda").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');

                });
            },
        error: function (ex) {
            alert('Failed to retrieve states.' + ex);
        }
    });
    return false;

    });
</script>

