﻿@model Veterinaria.Models.RegistrarTarea

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>RegistrarTarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraTarea)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Mascota.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascota.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarea.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarea.Nombre)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Guardar", new { id = Model.IdRegistrar }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
