﻿@model Veterinaria.Models.RegistrarTarea

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Estas seguro de eliminar este registro?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraTarea)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Mascota.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascota.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarea.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarea.Nombre)
        </dd>

       

    </dl>

    @using (Html.BeginForm())
	{
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
