﻿@model IEnumerable<Veterinaria.Models.RegistrarTarea>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Nuevo", "Guardar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaTarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraTarea)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Mascota.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarea.Nombre)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaTarea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraTarea)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Mascota.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarea.Nombre)
        </td>
       
        <td>
            @Html.ActionLink("Editar", "Guardar", new { id=item.IdRegistrar }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.IdRegistrar }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.IdRegistrar })
        </td>
    </tr>
}

</table>
